.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h2 {
  float:left;
  color: #01B8FE;
}

#challenges {
  background-color: rgb(255, 255, 255);
  border-radius: 0;
  padding: 20px;
  color: #65008C;
  width: 500px;
  max-width: 100%;
}

.dailychallenge {
  background-color: white;
  border: solid 5px #01B8FE;
  color: black;
  border-radius: 0;
  padding: 20px;
  margin: 20px;
  transition: .1s linear;
}

.dailychallenge img {
  width: 80%;
}

.challengeselect {
  padding: 10px;
  margin-right: 1%;
  margin-left: 1%;
  width: 48%;
  border: none;
  background-color: orange;
  border-radius: 10px;
}

.hidden {
  display: none;
  text-align: left;
}

#videoplaceholder {
  background-color: grey;
  height: 200px;
}

input {
  padding: 10px;
  float: left;
}

#logo{
  width: 70%;
  margin-bottom: -20px;
}

