.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#challenges {
  background-color: rgb(245, 206, 33);
  border-radius: 20px;
  padding: 20px;
}

.dailychallenge {
  background-color: white;
  color: black;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  transition: .1s linear;
}
.dailychallenge:hover {
  transform: scale(1.02);
  transition: .1s linear;
}

#challengeselect {
  padding: 10px;
  width: 50%;
  border: none;
  background-color: orange;
  border-radius: 10px;
}

#videoplaceholder {
  background-color: grey;
  height: 200px;
}
