#social-icons {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  float: left;
  margin-left: 10px;
}

.icon img {
  height: 50px;
  width: 50px;
}

.icon svg {
  height: 50px;
  width:  50px;
}

h1 {
  font-size: x-large;
}

h4 {
  font-size: medium;
}

.Badge-section {
  color: #3caa47;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge-description {
  font-size: small;
  background-color: #3caa47;
  color: white;
  padding: 5px;
  border-radius: 2px;
}

.Challenge-completed {
  background-color: white;
  border: solid 5px #01b8fe;
  color: black;
  border-radius: 0;
  padding: 20px;
  margin: 20px;
  transition: 0.1s linear;
}

.challenge-photo {
  width: 80%;
}
